$primary-color-dark:   #AFB42B;
$primary-color:        #CDDC39;
$primary-color-light:  #F0F4C3;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

body{
	background-color:$primary-color-light;	
	width: 100%;
	margin: 10px;
	
}


table {
    width:90%;
	font-size: 20px;
	margin: auto;
}
table, th, td {
    border: 3px solid $primary-color-dark;
    border-collapse: collapse;
}
th,td {
    padding: 5px;
    text-align: center;
}

th{
 	background-color: $primary-color;
    color: $accent-color;
}

tr:nth-child(even) {
    background-color: $divider-color;
	color: $primary-text-color;
}
tr:nth-child(odd) {
   background-color:$secondary-text-color;
	color: white;
}